button {
    background-color: #fafafa;
    color: black;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 50%;
  }
  
  button:hover {
   background-color: #555;
  }
  
  button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  button {
    margin-bottom: 10px;
  }

.num{
    background-color: #f1f1f1;
    color: black;
}

.schermino{
    display: flex;
    font-size: 31px;
    align-items: center;
    border-style: solid;
    height: 50px;
    width: 525px;
    max-width: 525px;
    overflow: hidden; /* Nasconde il testo che supera la larghezza massima */
    text-overflow: ellipsis;
}
  