html, body{
    height: 100%;
}
.container{
    display: flex;
    height: 90%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    text-align: center;
}

.direct_Cal{
    width: 15%;
    height: 90%;
    position: absolute;
    left: 0;
    border: 100px;
    text-align: left;
    padding-left: 10px;
}

.calendar{
    width: 65%;
    height: 90%;
    position: absolute;
    left: 15%;
}

.todo{
    width: 20%;
    height: 90%;
    position: absolute;
    left: 80%;
    padding-left: 10px;
}