html, body{
    height: 100%;
    margin: 0px;
    padding: 0;
}

.container{
    display:block;
    height: 90%;
}

.title_cal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    border: 1px;
    border-bottom-style: solid;
    margin: 0px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    text-align: center;
    border: 1px;
    border-bottom-style: solid;
}

.direct_Cal{
    width: 14.3%;
    height: 90%;
    position: absolute;
    left: 0;
    border: 1px;
    text-align: left;
    padding-left: 10px;
    border-right-style: solid;
}

.calendar{
    width: 65%;
    height: 90%;
    position: absolute;
    left: 14.8%;
}

.ore{
    width: 14.3%;
    height: 93%;
    position: absolute;
    left: 0;
    border: 1px;
    text-align: left;
    padding-left: 10px;
    border-right-style: solid;
}

.days{
    width: 85.1%;
    height: 93%;
    position: absolute;
    left: 15.2%;
    padding: 0;
    display: table;
    
}

.todo{
    width: 18.5%;
    height: 90%;
    position: absolute;
    left: 80%;
    padding-left: 10px;
    border: 1px;
    border-left-style: solid;
}

.todo_button{
    background-color: aqua;
}

.director{
    position: absolute;
    display: list-item;
}

.day-column{
    float: left;
    display: table-row;
    width: 16.6%;
    height: 100%;
}

.day{
    display: table-cell;
    clear: both;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    text-align: center;
    border: 1px;
    border-style: solid;
    position: absolute;
}