body{
    background-color: papayawhip;
    margin: 0;
}

.popover{
    background-color: aliceblue;
    border: 2px dotted black;
    border-radius: 25px;
    position: fixed;
    top: -50%;
    right: -60%;
    text-align: center;
}

.button_txt{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.inp{
    float: right;
}

.popover_desc{
    background-color: azure;
    border: 2px dotted black;
    border-radius: 25px;
    position: fixed;
    left: -45%;
    top: -45%;
    width: 20%;
}

.todo_button{
    right: 10%;
    border: 1px;
    border-style: solid;
    position: absolute;
    background-color:whitesmoke;
    color: black;
    border-radius:100px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

p{
    text-align: center;
    justify-content: center;
}

.check_style {
    text-align:center;
}
  
.check_style input{
    margin: 0px 0px 0px 0px;
}

.check_style label{
    margin: 0px 4px 0px 10px;
}

.div_head{
    text-align: center;
    display: inline;
}

.header{
    margin-top: 20px;
}